/* Landing Carousel Styles - START */

.carousel-container {
  position: relative;
  width: 100%;
  max-height: 700px;
  overflow: hidden;
}

.carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.7);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fffff5;
}

.overlay-title * {
  background: transparent;
}

.overlay-title {
  /* font-size: 3.5rem; */
  font-family: "Yeseva One", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-title span {
  font-size: clamp(0.875rem, 6vw, 1.5rem);
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: capitalize;
}

.overlay-title p {
  font-size: clamp(1.75rem, 6vw, 4.5rem);
  margin: 0.25em auto;
}

.overlay-button {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.5em;
  background: transparent;
  color: #ffc814;
  border: 1px solid #ffc814;
  font-size: clamp(0.65rem, 2vw, 1.125rem);

  /* font-size: 1.125rem; */
  padding: 0.8em 1.56em;
  border-radius: 5px;
}
/* Landing Carousel Styles - END */

/* Rooms Carousel Styles - START */

.section-container,
.section-container * {
  background: #292929;
}
.section-container {
  padding: 4rem 0;
  overflow-x: hidden;
  width: 100%;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title * {
  background: transparent;
}

.section-title {
  font-family: "Yeseva One", serif;
  /* padding-left: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.small {
  /* font-size: clamp(1rem, 2vw, 1.5rem); */
  margin-left: 2.5rem;
  color: #ffc814;
  letter-spacing: 3px;
  font-size: 1.12rem;
  margin-bottom: -10px;
}

.big {
  margin-left: 2.5rem;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #fff;
  /* font-size: clamp(1.5rem, 4vw, 2rem); */
}

.slider-container {
  padding-top: 2rem !important;
}
/* Default card size for mobile */
.room-container {
  max-width: 340px;
  margin-left: 3vw;
}

.room-container:hover {
  cursor: pointer;
}

.room-img {
  width: 340px;
  height: 340px;
  object-fit: cover;
}

.room-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin-top: 0.5em;
  color: #fff;
}

/* On larger screens, increase the card size */
@media (min-width: 768px) {
  .room-container {
    width: 500px;
  }
  .room-img {
    width: 500px;
    height: 450px;
  }
  .room-title {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .room-container {
    width: 600px;
  }
  .room-img {
    width: 600px;
    height: 500px;
  }
  .room-title {
    font-size: 2.2rem;
  }
}

.slick-list {
  max-height: 730px !important;
}
/* Rooms Carousel Styles - END */

/* Sightseeing Section - START */
.card-section-container {
  background-color: #585858;
  padding: 3rem;
}

.card-container {
  max-width: 1200px;
  width: 100%;
  background: transparent;
  /* aspect-ratio: 1; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  width: 170px;
  height: 300px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  transition: all 1s ease;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: 1;
  transition: all 0.5s ease;
}

.card-img:hover {
  transform: scale(1.1);
}

.card:nth-child(odd) {
  margin-top: 1rem;
}

.card.open {
  max-width: 60%;
  /* flex: 100%; */
  width: 100%;
}

.card.open .card-img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.card-content-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.card-content-container.visible {
  opacity: 1;
  pointer-events: auto;
}

.card-content-content,
.card-content-content * {
  background: transparent;
  color: white;
  max-width: 400px;
  margin-left: 1rem;
}

.card-header {
  font-family: "Yeseva One", serif;
  margin: 0;
  color: #ffc814;
  font-size: 2.5rem;
  letter-spacing: 2px;
  /* font-style: italic; */
}

.card-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  /* margin-left: 2em; */
}

@media (max-width: 800px) {
  .card-container {
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 150px;
    margin: 1rem auto;
  }

  .card.open {
    width: 100%;
    max-width: 100%;
    height: 250px;
  }
}

@media (max-width: 470px) {
  .card-header {
    font-size: 2rem;
    padding: 0;
  }
  .card-paragraph {
    margin: 0;
    margin-top: 1.5em;
  }
}

/* Sightseeing Section - END */
