.navbar {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;

  max-width: 1200px;
  width: 90%;
  border-radius: 100px;
  background-color: transparent;
}

.navbar::before {
  content: "";
  border-radius: 100px;
  position: absolute;
  inset: 0;
  background: rgba(40, 40, 40, 0.5);
  backdrop-filter: blur(8px);
  z-index: -1;
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible,
.navbar.visible * {
  background: transparent;
}

.navbar.visible {
  transform: translateY(0);
  color: #fff;
  margin: auto;
}

.nav-hamburger {
  margin-left: 20px;
  cursor: pointer;
}

.nav-hamburger:hover {
  opacity: 0.7;
}

.nav-cta {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  background: rgba(255, 200, 20, 0.1);
  color: #ffc814;
  /* border: 2px solid #ffc814; */
  /* border-radius: 5px; */
  border: none;
  padding: 0.5em 1.25em;
  font-size: clamp(0.875rem, 2vw, 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  OFFCANVAS STYLING*/

.offcanvas * {
  background: transparent;
  margin: 0;
}

.offcanvas {
  background-color: rgb(41, 41, 41);
  color: white;
  width: 100%;
  height: fit-content !important;
  overflow: hidden;
}

.offcanvas-header {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.offcanvas-header button {
  border: none;
  color: white;
  font-size: 2rem;
}

.offcanvas-body {
  display: flex;
  overflow: hidden;
}

.nav-items {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  gap: 1rem;
  min-width: 300px !important;
}

.nav-items span {
  font-family: "Yeseva One", serif;
  font-size: 2rem;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

.nav-items span:hover {
  color: #ffc814;
  cursor: pointer;
}

/* Carousel Styles */

.section-content {
  width: 100%;
  margin: 0 auto;
}

.section-title * {
  background: transparent;
}

.section-title {
  font-family: "Yeseva One", serif;
  /* padding-left: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.title {
  margin-left: 3.5rem;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #ffc814;
  /* font-size: clamp(1.5rem, 4vw, 2rem); */
}

.and {
  color: #fff;
}

.slider-container {
  padding-top: 2rem !important;
}
/* Default card size for mobile */
.room-container {
  max-width: 340px;
  margin-left: 3vw;
}

.room-img {
  width: 340px;
  height: 340px;
  object-fit: cover;
}

.room-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin-top: 0.5em;
  color: #fff;
}

@media (max-width: 850px) {
  .section-content {
    display: none;
  }

  .nav-items {
   width: 100% !important;
   align-items: center;
   gap: 20px;
  }
}
