.navbar {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;

  max-width: 1200px;
  border-radius: 100px;
  background-color: transparent;
}

.navbar::before {
  content: "";
  border-radius: 100px;
  position: absolute;
  inset: 0;
  background: rgba(40, 40, 40, 0.5);
  backdrop-filter: blur(8px); 
  z-index: -1; 
}

.navbar.hidden {
  transform: translateY(-100%);
}

.navbar.visible {
  transform: translateY(0);
}
