.section-container,
.section-container * {
  background: #292929;
}
.section-container {
  padding: 4rem 0;
  overflow-x: hidden;
  width: 100%;
}

.section-content {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title * {
  background: transparent;
}

.section-title {
  font-family: "Yeseva One", serif;
  /* padding-left: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.small {
  /* font-size: clamp(1rem, 2vw, 1.5rem); */
  margin-left: 2.5rem;
  color: #ffc814;
  letter-spacing: 3px;
  font-size: 1.12rem;
  margin-bottom: -10px;
}

.big {
  margin-left: 2.5rem;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #fff;
  /* font-size: clamp(1.5rem, 4vw, 2rem); */
}

.slider-container {
  padding-top: 2rem!important;
}
/* Default card size for mobile */
.room-container {
  max-width: 340px;
  margin-left: 3vw;
}

.room-img {
  width: 340px;
  height: 340px;
  object-fit: cover;
}

.room-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin-top: 0.5em;
  color: #fff;
}

/* On larger screens, increase the card size */
@media (min-width: 768px) {
  .room-container {
    width: 500px;
  }
  .room-img {
    width: 500px;
    height: 450px;
  }
  .room-title {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {
  .room-container {
    width: 600px;
  }
  .room-img {
    width: 600px;
    height: 500px;
  }
  .room-title {
    font-size: 2.2rem;
  }
}

.slick-list {
  max-height: 730px !important;
}
