.card-section-container {
  background-color: #585858;
  padding: 3rem;
}

.card-container {
  max-width: 1200px;
  width: 100%;
  background: transparent;
  /* aspect-ratio: 1; */
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  width: 170px;
  height: 300px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

.card:nth-child(odd) {
  margin-top: 1rem;
}

.card.open {
  flex: 100%;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  /* filter: brightness(50%); */
}

.card-content-container {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.card-content-content,
.card-content-content * {
  background: transparent;
  color: white;
  max-width: 400px;
  margin-left: 1rem;
}

.card-header {
  font-family: "Yeseva One", serif;
  margin: 0;
  color: #ffc814;
  font-size: 2.5rem;
  letter-spacing: 2px;
  /* font-style: italic; */
}

.card-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  /* margin-left: 2em; */
}
